<h1>Services Index</h1>

<%= link_to 'New service', new_service_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Category</th>
    <th>Price</th>
    <th>Rate</th>
    <th>Tickets</th>
    <th>Show</th>
    <th>Edit</th>
  </tr>

  <% @services.each do |service| %>
    <tr>
      <td><%= service.id %></td>
      <td><%= service.category %></td>
      <td><%= number_to_currency(service.price) %></td>
      <td><%= service.rate %></td>
      <td><%= link_to Ticket.where(service_id: service.id).count, service_tickets_path(service.id) %></td>
      <td><%= link_to 'Show', service_path(service) %></td>
      <td><%= link_to 'Edit', edit_service_path(service) %></td>
    </tr>
  <% end %>
</table>
