<h2>Dashboard</h2>
<div>
    <h3>Finances</h3>
    <table>
        <tr><td>Gross Income:</td><td><%= number_to_currency(@total_income) %></td></tr>
        <tr><td>Expenses:</td><td><%= number_to_currency(@total_expense) %></td></tr>
        <tr><td>Outstanding balance:</td><td><%= number_to_currency(@unsettled_net) %></td></tr>
        <tr><td>Total balance:</td><td><%= number_to_currency(@total_net) %></td></tr>
    </table>
</div>

<div>
    <h3>Accounts</h3>
    <table>
        <tr><td>Top Client (Tickets):</td><td><%= link_to @top_ticket.name, account_path(@top_ticket.id) %></td></tr>
        <tr><td>Top Client (Revenue:</td><td><%= link_to @top_revenue.name, account_path(@top_revenue.id) %></td></tr>
    </table>
</div>

<hr>

<div>
    <h3>Unsettled records</h3>
    <table>
      <tr><td>Total outstanding balance (income):</td><td><%= number_to_currency(@unsettled_income) %></td></tr>
      <tr><td>Total outstanding balance (expense):</td><td><%= number_to_currency(@unsettled_expense) %></td></tr>
      <tr><td>Net outstanding balance:</td><td><%= number_to_currency(@unsettled_net) %></td></tr>
    </table>

    <%= render 'records/listing' %>
</div>

<hr>

<div>
    <h3>Open tickets</h3>
    <p>Total outstanding balance: <%= number_to_currency(@unpaid_tickets) %></p>

    <%= render 'tickets/listing' %>
</div>